@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background: #05010D;
  min-width: 100vw;
}

html, body, :root, #root {
  height: 100%;
  width: 100%;
}

html {
  font-size: 100%;
}